main{
    padding-top: 32px;
}
.package{
    width: 80%;
    margin: 16px 0;
    border: 4px solid #0e4f1f;
    border-left: none;
}

.plan{
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 32px;
}

.plan__title{
    font-family:inherit;
    color: black;
}

.plan__subtitle{
    font-family:inherit;
    color: gray;
    font-size: 20px;
}

.plan__desc{
    background: white;
    padding: 10px;
}